In [12]:
import glob
import pandas as pd

dir = "/ifs/scratch/jls106_gp/nhw2114/data/20231025_synthetic_data"

files = glob.glob(dir + '/*.csv')

In [13]:
df = pd.DataFrame(files, columns=['filepath'])
print(df.shape)
df.head()

(21311, 1)

                                            filepath
0  /ifs/scratch/jls106_gp/nhw2114/data/20231025_s...
1  /ifs/scratch/jls106_gp/nhw2114/data/20231025_s...
2  /ifs/scratch/jls106_gp/nhw2114/data/20231025_s...
3  /ifs/scratch/jls106_gp/nhw2114/data/20231025_s...
4  /ifs/scratch/jls106_gp/nhw2114/data/20231025_s...

In [19]:
pd.read_csv(f'{dir}/69011_rt.csv')

       0
0    1.5
1    1.5
2    1.5
3    1.5
4    1.5
..   ...
360  4.0
361  4.0
362  4.0
363  4.0
364  4.0

[365 rows x 1 columns]